* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding: 35px;
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    background: url("task2BG.jpg") no-repeat center;
}

ul {
    padding-left: 50px;
    margin-bottom: 40px;
    /*list-style: url("");*/
}

h2 {
    margin-bottom: 15px;
}
.list1 ul>li:nth-child(even){
    color: pink;
}
.list2 ul>li:nth-child(odd){
font-size: 22px;
}