* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*----------------стилізація заголовків----------------------*/
h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 84px;
}

/*---------------------стилізація кнопок---------------------------------------------*/
.button {
    width: 204px;
    height: 58px;
    border-radius: 4px;
    background: #5454D4;
    font-size: 20px;
    font-weight: 700;
}
.button a{
    width: 100%;
    height: 100%;
    color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------визначення обмежуючого блоку для контенту--------------*/
.limitingBlock {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

/*--------------стилізація декоративного фону блоку обгортки, який при анімуванні буде моргати----------------*/
.decorationBlock {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*-----------стилізація першого блоку(першого екрана)----------*/
.firstScreenWrapper {
    height: 100vh;
    background-color: black;
    padding-top: 30px;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>a{
    text-decoration: none;
    color: #FFF;;
}

header img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.logo {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

header nav {
    display: flex;
    height: 100%;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 28vw;
    max-width: 330px;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
}

.selectedNavItem {
    color: #5454D4;
}

.headerButton {
    width: 157px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: none;
}
.headerButton a{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.firstScreenWrapper section {
    display: flex;
    height: 69vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.firstScreenWrapper section article > p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;
    margin-top: 24px;
    margin-bottom: 50px;
}

.firstScreenTxt {
    display: flex;
    width: 47%;
}

.firstScreenImg {
    display: flex;
    height: 680px;
    width: 547px;
    background-image: url("images/firstScreenBG656px713px.png");
    background-repeat: no-repeat;
    background-size: cover;
}

